<!DOCTYPE html>
<html>
<head>
  <title>Red.t - The greatest non-derivative source for links EVER</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Red.t</h1>
  <% if current_user == nil %>
  <%= link_to "Log in", new_session_path %>
  <% else %>
  <% end %>

<%= yield %>

</body>
</html>
